/* Fondo general */
body{
    background-color: rgb(27, 197, 209);
}

/* Imágenes de la galería */
.img-galeria{
    height:250px;
    object-fit:cover;
}

/* Loader */
.loader{
    text-align:center;
    font-size:20px;
    padding:40px;
}

/* Contenedor del video */
.video-container{
    margin-top:40px;
    padding:20px;
    background:rgb(255, 255, 255);
    border-radius:10px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Video más pequeño y proporcionado */
.video-container video{
    width:100%;
    max-height:300px;
    border-radius:8px;
}